/* Harita Alanı */
#map {
    width: 100vw; /* Harita tüm ekran genişliğini kaplasın */
    height: 100vh; /* Harita tüm ekran yüksekliğini kaplasın */
    position: fixed; /* Ekranda sabit konum */
    top: 0;
    left: 0;
    z-index: 1; /* Diğer içeriklerin altında kalmasını engeller */
}


/* Bilgi ve Sayaç */
#distance-info, #timer {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 2;
}

#distance-info {
    top: 20px;
    left: 20px;
}

#timer {
    top: 20px;
    right: 20px;
}

/* Sonuç Ekranı */
#result-screen {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#result-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#final-stage {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
}
